{% extends "template.html" %}
{% block content %}
    <div class="about">
        <img class="banner-image" src="img/banner_2023.jpeg" title="PhD Time">
        <p style="text-align: center;">
            <b>Figure 1.</b> Visual records of Gege's workplaces during her PhD journey in Zürich and Tübingen. 
        </p>
        <br>
        <br>
        <h2><b>Bio</b></h2>
        <!-- <img class="photo" src="img/photo.png"> -->
        <!-- width="100" height="100" -->
        <p>
            Gege Gao is a Ph.D. student in Computer Science since November 2022, advised by <a href="https://is.mpg.de/~bs">Prof. Dr. Bernhard Schölkopf</a> at ETH Zürich and Max Planck Institute for Intelligent Systems (Tübingen) and <a href="https://ps.is.mpg.de/~ageiger">Prof. Dr. Andreas Geiger</a> at University of Tübingen and Tübingen AI Center, as shown in Figure 1. Before that, she was a Research Staff at Institute of Automation, Chinese Academy of Sciences since 2020. She received her master's degree of M.Sc. in Applied Statistics from Renmin University of China in 2020, supervised by <a href="http://stat.ruc.edu.cn/Home/People/Faculty/8e5ad6f548314fc1be75429b60164f7b.htm">Prof. Dr. Xiaoling Lu</a>. Her research interests include controllable content creation, inverse graphics, and representation learning and reasoning.
        </p>
    </div>
    <!-- <div class="timeline pt-2">
        {% for entry in timeline %}
        <div class="timeline-entry">
            <div class="timeline-image-holder">
            {% if "image" in entry %}
            <img src="{{ entry.image }}" alt="{{ entry.org }}">
            {% endif %}
            </div>
            <div class="timeline-time">{{ entry.time }}</div>
            <div class="timeline-org">{{ entry.org }}</div>
            <div class="timeline-position">{{ entry.position }}</div>
            <div class="timeline-description">{{ entry.description }}</div>
        </div>
        {% endfor %}
    </div> -->
    <div class="pt-4">
        <h2><b>Publications</b></h2>
        <div id="pubs">
            {% for pub in pubs %}
            <div class="pub row pt-3 pb-3">
                <div class="col-sm-2 pub-preview">
                    {% if "image" in pub %}
                    <img src="{{ pub.image }}" alt="{{ pub.title }}">
                    {% endif %}
                </div>
                <div class="col">
                    <h4>{{ pub.title }}</h4>
                    <div class="pub-authors">
                        {% for author in pub.authors %}
                        {{ autolink(author) }}{{ ", " if not loop.last else "" }}
                        {% endfor %}
                    </div>
                    <div class="pub-venue pb-1">
                        <small>
                        {{ pub.venue }}
                        <span class="pub-award"> {{ pub.award }} </span>
                        </small>
                    </div>
                    <div class="pub-links">
                    {% if "arxiv_link" in pub %}
                    <a href="{{ pub.arxiv_link }}">arXiv</a>
                    {% endif %}
                    {% if "paper_link" in pub %}
                    <a href="{{ pub.paper_link }}">Paper</a>
                    {% endif %}
                    {% if "web_link" in pub %}
                    <a href="{{ pub.web_link }}">Website</a>
                    {% endif %}
                    {% if "code_link" in pub %}
                    <a href="{{ pub.code_link }}">Code</a>
                    {% endif %}
                    {% if "video_link" in pub %}
                    <a href="{{ pub.video_link }}">Video</a>
                    {% endif %}
                    </div>
                    <div class="pub-description pt-1">
                        {% if "abstract" in pub %}
                        <p class="pub-abstract">
                        {{ pub.abstract }}
                        </p>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
            <!-- <small>
            * = Equal contribution
            </small> -->
        </div>
    </div>
    <div class="coursework pt-4">
        <h2><b>Education</b></h2>
        <div class="timeline pt-2">
            {% for entry in timeline %}
            <div class="timeline-entry">
                <div class="timeline-image-holder">
                {% if "image" in entry %}
                <img src="{{ entry.image }}" alt="{{ entry.org }}">
                {% endif %}
                </div>
                <div class="timeline-time">{{ entry.time }}</div>
                <div class="timeline-org">{{ entry.org }}</div>
                <div class="timeline-position">{{ entry.position }}</div>
                <div class="timeline-description">{{ entry.description }}</div>
            </div>
            {% endfor %}
        </div>
        <div id="coursework-collapse">
            {% include "coursework.html" %}
        </div>
    </div>
    <div class="coursework pt-2">
        <h2>Misc</h2>
        <p>
            Gege, originally from Beijing, China, carries the Chinese name 格格. Her family's ancestral surname is <a href="https://en.wikipedia.org/wiki/He%C5%A1eri">Hešeri</a> (赫舍里).
        </p>
    </div>
    <div class="pt-2">
        <small>
            The source code for this website is forked from <a href="https://github.com/sxyu/sxyu.github.io">this repo</a>.
        </small>
    </div>
{% endblock %}
