{% extends "template.html" %}
{% block content %}
    <div class="about">
        <img class="banner-image" src="img/banner-new.jpg" title="Universal Studio Beijing">
        <h2>Bio</h2>
        <p>
            Hi! My name is Grace (a.k.a Gege). I am currently a research staff at National Laboratory of Pattern Recognition (NLPR) in the Institute of Automation (IA), Chinese Academy of Sciences (CAS), Beijing, China, working with <a href='https://rhe-web.github.io/'>Prof. Dr. Ran He</a>.
            I'll be a Ph.D. student in the <a href="http://www.cvlibs.net/">Autonomous Vision Group</a> (AVG) starting Spring 2022, advised by <a href="https://ps.is.mpg.de/~ageiger">Prof. Dr. Andreas Geiger</a>.
        </p>
        <p>
            My research interest is at the intersection of vision and learning. Currently, my research focuses on controllable image synthesis, as it provides a way to bridge the human will with artificial machines. I'm also working on causal representation learning to achieve better control and generalization ability in generative modeling.
        </p>
        <p>
            Prior to NLPR, I studied in two Chinese "Excellent" departments of statistics in Beijing, i.e., School of Statistics, Renmin University of China (M.Sc. 2020) and School of Mathematics and Statistics, Central University of Finance and Economics (B.Sc. 2017), where I majored in Applied Statistics.
        </p>
    </div>
    <div class="timeline pt-2">
        {% for entry in timeline %}
        <div class="timeline-entry">
            <div class="timeline-image-holder">
            {% if "image" in entry %}
            <img src="{{ entry.image }}" alt="{{ entry.org }}">
            {% endif %}
            </div>
            <div class="timeline-time">{{ entry.time }}</div>
            <div class="timeline-org">{{ entry.org }}</div>
            <div class="timeline-position">{{ entry.position }}</div>
            <div class="timeline-description">{{ entry.description }}</div>
        </div>
        {% endfor %}
    </div>
    <div class="pt-4">
        <h2>Publications</h2>
        <div id="pubs">
            {% for pub in pubs %}
            <div class="pub row pt-3 pb-3">
                <div class="col-sm-2 pub-preview">
                    {% if "image" in pub %}
                    <img src="{{ pub.image }}" alt="{{ pub.title }}">
                    {% endif %}
                </div>
                <div class="col">
                    <h4>{{ pub.title }}</h4>
                    <div class="pub-authors">
                        {% for author in pub.authors %}
                        {{ autolink(author) }}{{ ", " if not loop.last else "" }}
                        {% endfor %}
                    </div>
                    <div class="pub-venue pb-1">
                        <small>
                        {{ pub.venue }}
                        <span class="pub-award"> {{ pub.award }} </span>
                        </small>
                    </div>
                    <div class="pub-links">
                    {% if "arxiv_link" in pub %}
                    <a href="{{ pub.arxiv_link }}">arXiv</a>
                    {% endif %}
                    {% if "paper_link" in pub %}
                    <a href="{{ pub.paper_link }}">Paper</a>
                    {% endif %}
                    {% if "web_link" in pub %}
                    <a href="{{ pub.web_link }}">Website</a>
                    {% endif %}
                    {% if "code_link" in pub %}
                    <a href="{{ pub.code_link }}">Code</a>
                    {% endif %}
                    {% if "video_link" in pub %}
                    <a href="{{ pub.video_link }}">Video</a>
                    {% endif %}
                    </div>
                    <div class="pub-description pt-1">
                        {% if "abstract" in pub %}
                        <p class="pub-abstract">
                        {{ pub.abstract }}
                        </p>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
            <small>
            * = Equal contribution
            </small>
        </div>
    </div>
    <div class="coursework pt-4">
        <h2>Education</h2>
        <div id="coursework-collapse">
            {% include "coursework.html" %}
        </div>
    </div>
    <div class="coursework pt-2">
        <h2>Misc</h2>
        <p>
            I was born in Beijing, China. My Chinese name is Gege Gao (高格格). Hešeri (赫舍里) is my ancestral surname.
        </p>
    </div>
    <div class="pt-2">
        <small>
            The source code for this website is forked from <a href="https://github.com/sxyu/sxyu.github.io">this repo</a>.
        </small>
    </div>
{% endblock %}
